# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
venv11/
env/
ENV/
*.egg-info/
dist/
build/

# Flask
.webassets-cache

# Database

*.sqlite
*.sqlite3

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Static files (images uploaded by users)
static/face_images/*
!static/face_images/.gitkeep
static/qr_codes/*
!static/qr_codes/.gitkeep

# Migrations (optional - usuń jeśli chcesz je wersjonować)
# migrations/
